:root {
  --icon-gap: 0.2rem;
}

#flair-container {
  display: flex;
  width: 100%;
  background: #e9ecef;
  justify-content: center;
  margin-bottom: var(--gap);
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}

#email {
  display: flex;
  align-items: center;
  gap: var(--icon-gap);
}

#socials {
  display: flex;
  gap: 1rem;
}

#github,
#linkedin,
#repo {
  display: flex;
  gap: var(--icon-gap);
  align-items: center;
}

.noClick {
  pointer-events: none;
}
